<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/output.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

</head>

<body class="">
  <div class="h-[100vh] w-full flex">
    <%- include('partials/sidebar') %>
    <div class="flex-1 flex flex-col">
      <%- include('partials/nav') %>
      <div class="flex-1 w-full p-3 bg-gray-100 overflow-y-auto rounded-l-3xl">
        <div class="py-3 px-5">
          <h1 class="text-2xl font-semibold">Files In <%= foldername %></h1>
        </div>
       
        <div class="mt-5 bg-gray-100 flex items-center">
          <div class="flex flex-wrap gap-4 w-full">
            <% if (files.length > 0) { files.forEach( (file, id) => { %>
            <%- include('components/box', {filename: file.docName, icon: file.docType, doc: file.doc, docId: file._id}) -%>
            <% })} else { %>
            <div class="w-full p-5">
              <p class="bg-yellow-300 p-3 rounded-lg text-white">Your file(s) will show here when you upload any</p>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/actions.js"></script>
</body>

</html>